﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LoginPage</title>
</head>
<body>
 
    <h1>Login Page</h1>

    
    <label style="font:bold">UserName</label>
    <br />
    <input type="text" id="txtUserName" #txtUserName />
    <br />
    <label style="font:bold">Password</label>
    <br />
    <input type="text" id="txtPassword" #txtPassword />
    <br />
    <button (click)="display(txtUserName.value,txtPassword.value)">Submit</button>

</body>
</html>